<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SignupDecorEntities" connectionString="metadata=res://*/Models.ForSignup.csdl|res://*/Models.ForSignup.ssdl|res://*/Models.ForSignup.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=SignupDecor;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add name="DecorFinalWebEntities" connectionString="metadata=res://*/Models.DecorFinalWeb.csdl|res://*/Models.DecorFinalWeb.ssdl|res://*/Models.DecorFinalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorFinalWeb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorFinalWebEntitiesAdmin" connectionString="metadata=res://*/Models.ForAdminDB.csdl|res://*/Models.ForAdminDB.ssdl|res://*/Models.ForAdminDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorFinalWeb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorFinalWebEntities1" connectionString="metadata=res://*/Models.DecorFinalWeb.csdl|res://*/Models.DecorFinalWeb.ssdl|res://*/Models.DecorFinalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorFinalWeb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorFinalWebEntities2" connectionString="metadata=res://*/Models.DecorFinalWeb.csdl|res://*/Models.DecorFinalWeb.ssdl|res://*/Models.DecorFinalWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorFinalWeb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SellerEntities" connectionString="metadata=res://*/Models.ForSeller.csdl|res://*/Models.ForSeller.ssdl|res://*/Models.ForSeller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=Seller;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SellerEntities1" connectionString="metadata=res://*/Models.ForSeller.csdl|res://*/Models.ForSeller.ssdl|res://*/Models.ForSeller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=Seller;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorSellerEntities" connectionString="metadata=res://*/Models.Sell.csdl|res://*/Models.Sell.ssdl|res://*/Models.Sell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorSeller;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorSellerEntities1" connectionString="metadata=res://*/Models.ProductSeller.csdl|res://*/Models.ProductSeller.ssdl|res://*/Models.ProductSeller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorSeller;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorProfessionalEntities" connectionString="metadata=res://*/Models.ProfessionalDecor.csdl|res://*/Models.ProfessionalDecor.ssdl|res://*/Models.ProfessionalDecor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorProfessional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DecorSellerEntities2" connectionString="metadata=res://*/Models.ProductSeller.csdl|res://*/Models.ProductSeller.ssdl|res://*/Models.ProductSeller.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL;initial catalog=DecorSeller;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Facebook:AppId" value="329043797849107" />
    <add key="Facebook:AppSecret" value="6ed2fe214b382442e3ff9186660034dd" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>