@{
    ViewBag.Title = "My Orders | Soul Template";
    ViewBag.PageTitle = "MY ORDERS";
}
<div class="container page-wrap">
    <div class="row wiwet-orders-top fadeUpEffect wait05s">
        <div class="col-sm-6">
            <h1>MY ORDERS</h1>
        </div>
        <div class="col-sm-2">
            <select class="selectpicker wiwet-select">
                <option>ALL</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="text" placeholder="SEARCH BY" />
        </div>
    </div>


    <div class="row table-responsive my-orders-table text-center fadeUpEffect1 wait07s">
        <table class="table wiwet-orders-table">
            <tr>
                <th>STATUS</th>
                <th>DATE</th>
                <th>ORDER N&deg;</th>
                <th>BILLING</th>
                <th>SHIPPING</th>
                <th>TOTAL</th>
            </tr>

            <tr>
                <td>TRANSPORT</td>
                <td>25-04-2016</td>
                <td>#AX-2695846</td>
                <td>MASTER CARD (X012)</td>
                <td>VIRGIN AIR</td>
                <td>$ 152.99</td>
            </tr>

            <tr>
                <td>PREPARATION</td>
                <td>12-04-2016</td>
                <td>#KL-01563965</td>
                <td>MASTER CARD (X012)</td>
                <td>FEDEX</td>
                <td>$ 325.99</td>
            </tr>

            <tr class="arrived">
                <td>ARRIVED</td>
                <td>25-03-2016</td>
                <td>#UP-0060091</td>
                <td>PAYPAL ( Jane@@...)</td>
                <td>FEDEX</td>
                <td>$ 196.99</td>
            </tr>

            <tr>
                <td>TRANSPORT</td>
                <td>21-03-2016</td>
                <td>#KW-8963226</td>
                <td>MASTER CARD (X012)</td>
                <td>ROYAL MAIL</td>
                <td>$ 75.99</td>
            </tr>

            <tr>
                <td>VERIFICATION</td>
                <td>16-03-2016</td>
                <td>#WQ-6000120</td>
                <td>MASTER CARD (X012)</td>
                <td>FEDEX</td>
                <td>$ 281.99</td>
            </tr>

            <tr>
                <td>VERIFICATION</td>
                <td>10-03-2016</td>
                <td>#ER-02619012</td>
                <td>MASTER CARD (X012)</td>
                <td>FEDEX</td>
                <td>$ 112.99</td>
            </tr>

            <tr class="arrived">
                <td>ARRIVED</td>
                <td>02-03-2016</td>
                <td>#TY-0005002</td>
                <td>MASTER CARD (X012)</td>
                <td>VIRGIN AIR</td>
                <td>$ 53.99</td>
            </tr>

            <tr>
                <td>TRANSPORT</td>
                <td>01-03-2016</td>
                <td>#WG-00001463</td>
                <td>MASTER CARD (X012)</td>
                <td>FEDEX</td>
                <td>$ 78.99</td>
            </tr>


        </table>
    </div>

    <nav class="text-center">
        <ul class="pagination wiwet-pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <i class="fa fa-chevron-circle-left"></i>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="hidden-xs"><a href="#">4</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <i class="fa fa-chevron-circle-right"></i>
                </a>
            </li>
        </ul>
    </nav>

</div>