@{
    ViewBag.Title = "My Wishlist | Soul Template";
    ViewBag.PageTitle = "MY WISHLIST";
}
<div class="container page-wrap my-wishlist">
    <h1 class="fadeUpEffect1">MY WISHLIST</h1>

    <div class="row">
        <div class="col-sm-8 fadeUpEffect1">

            <div class="wiwet-wishlistwrap">
                <div class="row">
                    <div class="col-xs-6">
                        <h1><i class="fa fa-heart-o"></i> WISHLIST #1</h1>
                    </div>
                    <div class="col-xs-6">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td><img src="../../Content/Images/cavalli-class.png" /></td>
                            <td>CAVALLI CLASS</td>
                            <td>X2</td>
                            <td><a href="#"><i class="fa fa-close"></i></a></td>
                        </tr>

                        <tr>
                            <td><img src="../../Content/Images/t-shirt-la.png" /></td>
                            <td>T-SHIRT LA</td>
                            <td>X1</td>
                            <td><a href="#"><i class="fa fa-close"></i></a></td>
                        </tr>

                        <tr>
                            <td><img src="../../Content/Images/zara-jacket.png" /></td>
                            <td>ZARA JACKET</td>
                            <td>X1</td>
                            <td><a href="#"><i class="fa fa-close"></i></a></td>
                        </tr>
                    </table>
                </div>

                <a href="#" class="button"><i class="fa fa-envelope-o"></i> SEND</a>
            </div>


            <div class="wiwet-wishlistwrap">
                <div class="row">
                    <div class="col-xs-6">
                        <h1><i class="fa fa-heart-o"></i> WISHLIST #2</h1>
                    </div>
                    <div class="col-xs-6">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td><img src="../../Content/Images/jeans-jacket.png" /></td>
                            <td>JEANS JACKET</td>
                            <td>X1</td>
                            <td><a href="#"><i class="fa fa-close"></i></a></td>
                        </tr>

                        <tr>
                            <td><img src="../../Content/Images/zara-business.png" /></td>
                            <td>ZARA PANTS</td>
                            <td>X3</td>
                            <td><a href="#"><i class="fa fa-close"></i></a></td>
                        </tr>

                        <tr>
                            <td><img src="../../Content/Images/jean-pants.png" /></td>
                            <td>JEAN PANTS</td>
                            <td>X1</td>
                            <td><a href="#"><i class="fa fa-close"></i></a></td>
                        </tr>
                    </table>
                </div>

                <a href="#" class="button"><i class="fa fa-envelope-o"></i> SEND</a>
            </div>

        </div>
        <div class="col-sm-4 fadeUpEffect1 wait05s">
            <form class="add-wishlist">
                <h1>ADD A WISHLIST</h1>
                <input type="text" placeholder="WISHLIST NAME" />
                <input type="submit" value="CREATE" />
            </form>
        </div>
    </div>

</div>