@{
    ViewBag.Title = "Update Account Info | Soul Template";
    ViewBag.PageTitle = "UPDATE MY ACCOUNT";
}
<div class="page-wrap">
    <div class="wiwet-create-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 fadeUpEffect active">
                    <div class="row">
                        <div class="col-sm-2"><span>1</span></div>
                        <div class="col-sm-10">
                            <p>INFORMATION</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 fadeUpEffect1 wait05s">
                    <a href="@Url.Action("UpdateAccountAvatar", "Account")">
                        <div class="row">
                            <div class="col-sm-2"><span>2</span></div>
                            <div class="col-sm-10">
                                <p>AVATAR</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-4 fadeUpEffect2 wait07s">
                    <a href="@Url.Action("UpdateAccountWallet", "Account")">
                        <div class="row">
                            <div class="col-sm-2"><span>3</span></div>
                            <div class="col-sm-10">
                                <p>WALLET</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <div class="container fadeUpEffect2 wait07s">
        <form class="wiwet-checkout">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="First Name" />
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Last Name" />
                </div>
            </div>

            <input type="text" placeholder="Your Email" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />

            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Address" />

                    <select class="selectpicker wiwet-select">
                        <option>City</option>
                        <option>London</option>
                        <option>Paris</option>
                        <option>Bucharest</option>
                        <option>Viena</option>
                        <option>Moscow</option>
                        <option>Tokyo</option>
                        <option>Sidney</option>
                        <option>New York</option>
                        <option>Los Angeles</option>
                    </select>

                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Postal Code" />

                    <select class="selectpicker wiwet-select">
                        <option>Country</option>
                        <option>USA</option>
                        <option>England</option>
                        <option>Italy</option>
                        <option>Germany</option>
                        <option>Japan</option>
                        <option>Canada</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="submit" value="UPDATE" />
                    <a href="@Url.Action("UpdateAccountAvatar", "Account")" class="button">NEXT</a>
                </div>
            </div>
        </form>
    </div>

</div>