@{
    ViewBag.Title = "Update Account Wallet | Soul Template";
    ViewBag.PageTitle = "UPDATE MY ACCOUNT";
}
<div class="page-wrap">
    <div class="wiwet-create-steps">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 fadeUpEffect">
                    <a href="@Url.Action("UpdateAccountInfo", "Account")">
                        <div class="row">
                            <div class="col-sm-2"><span>1</span></div>
                            <div class="col-sm-10">
                                <p>INFORMATION</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-4 fadeUpEffect1 wait05s">
                    <a href="@Url.Action("UpdateAccountAvatar", "Account")">
                        <div class="row">
                            <div class="col-sm-2"><span>2</span></div>
                            <div class="col-sm-10">
                                <p>AVATAR</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-4 fadeUpEffect2 wait07s active">
                    <div class="row">
                        <div class="col-sm-2"><span>3</span></div>
                        <div class="col-sm-10">
                            <p>WALLET</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container fadeUpEffect2 wait07s">
        <form class="wiwet-checkout">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../../Content/Images/credit-cards.png" />
                    <label>CardHolder Name*</label>
                    <input type="text" placeholder="ex(Kate Doe)*" />

                    <label>Credit Card Number*</label>
                    <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" />

                    <label>Expiration Date*</label>
                    <div class="row">
                        <div class="col-sm-8">
                            <select class="selectpicker wiwet-select">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>

                        </div>
                        <div class="col-sm-4">
                            <select class="selectpicker wiwet-select">
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                            </select>
                        </div>
                    </div>

                    <label>CCV*</label>
                    <input type="text" placeholder="XXXX" />
                </div>
                <div class="col-sm-6">
                    <img src="../../Content/Images/paypal.png" />
                    <label>PayPal Email</label>
                    <input type="text" placeholder="ex(email@yourhost.com)" />
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-2">
                            <a href="#" class="button">EDIT</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="submit" value="UPDATE" />
                </div>
            </div>

        </form>
    </div>


</div>