
@{
    Layout="~/Views/_AboutLayout.cshtml";
}

<h1 style="text-align:center">About</h1>
<div class="page-wrap">
    <div class="container">
        <div class="content-border fadeUpEffect">
            <h1>DECOR</h1>
            <p>
                Decor offers a zillion things home. With one of the world's largest online selections of furniture, home furnishings, décor and goods, including more than ten million products from over 10,000 suppliers, 
                Decor helps people find the perfect product at the right price. Our extensive selection and superior customer service coupled with the convenience of online shopping, make it easier than ever before to find exactly what you want for your home at a price you can afford.
                At Decor, we know that good design starts with great designers. Our vetted, hand—picked interior design specialists are dedicated to bringing you best-in-class service and just-for-you tips on everything from room layout to accent pillows. 
                Friendly advice is only ever a click away.
            </p>
        </div>
        <div class="row fadeUpEffect1">
            <div class="col-sm-4">
                <div class="about-column">
                    <div>
                        <img src="../Content/Images/cart.png" />
                    </div>
                    <div>
                        <h1>OUR PROFESSIONAL</h1>
                        <p>
                            At Decor, we know that good design starts with great designers. Our vetted, hand—picked interior design specialists are dedicated to bringing you best-in-class service and just-for-you tips on everything from room layout to accent pillows.
                            Friendly advice is only ever a click away.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="about-column">
                    <div>
                        <img src="../Content/Images/transportation.png" />
                    </div>
                    <div>
                        <h1>OUR MISSION</h1>
                        <p>
                            At Decor, we believe that strong communities and good business are inextricably linked. We established our first charitable giving program in 2017 and have expanded our efforts every year since.
                            We partner with organizations that play a meaningful role in creating safe and comfortable living spaces because we believe that a secure home is not only a basic human need but also the foundation for well-being.
                            Our mission is to make home a reality for more of the many people in need of safe shelter and basic household items that help make a home.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="about-column">
                    <div>
                        <img src="../Content/Images/payment.png" />
                    </div>
                    <div>
                        <h1>OUR CULTURE</h1>
                        <p>
                            Decor is a rapidly growing company with a variety of career opportunities. We offer employees exciting work in a fun, dynamic environment that encourages learning and growth. We are accepting résumés on a rolling basis from motivated individuals who are interested in working in the e−commerce industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="join-decor fadeUpEffect2">
        <div>
            <div class="container fadeUpEffect">
                <h1>JOIN DECOR</h1>
                <h4>And get gifts and more</h4>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" placeholder="Name*" />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" placeholder="Email*" />
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="SUBSCRIBE" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="content-border">
                    <h1>MORE ABOUT DECOR</h1>
                    <p>
                       Decor is a rapidly growing company with a variety of career opportunities. We offer employees exciting work in a fun, dynamic environment that encourages learning and growth. We are accepting résumés on a rolling basis from motivated individuals who are interested in working in the e−commerce industry.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-border">
                    <h1>START SHOPPING</h1>
                    <p>
                        Decor is a rapidly growing company with a variety of career opportunities. We offer employees exciting work in a fun, dynamic environment that encourages learning and growth. We are accepting résumés on a rolling basis from motivated individuals who are interested in working in the e−commerce industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
