<footer>
    <div class="container top-footer">
        <div class="row">
            <div class="col-sm-3">
                <h4>Site Map</h4>
                <p>Home</p>
                <p>About Us</p>
                
                <p>Contact Us</p>
                

            </div>
            <div class="col-sm-3">
                <h4>Services</h4>
                <p>Can Buy </p>
                <p>Can Sell</p>
                <p>Can Find Professionals</p>
                
            </div>
            <div class="col-sm-3">
                <h4>CONTACT US</h4>
                <p><i class="fa fa-map-marker"></i> DECOR, MARCHANT ROAD <br> MYANMAR . YANGON</p>
                <p><i class="fa fa-phone"></i> <a href="tel:0987654334">+99 87 65 43 34</a></p>
                <p><i class="fa fa-envelope-o"></i> <a href="mailto:contact@decor.com">contact@decor.com</a></p>

            </div>
            <div class="col-sm-3">
                <h4>SOCIALIZE WITH DECOR</h4>
                <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.googleplus.com"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.pinterest.com"><i class="fa fa-pinterest-p"></i></a>
                <img src="../../Content/Images/logo.png">
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>DECOR &copy; @DateTime.Now.Year </p>
                </div>
                <div class="col-sm-6">
                    <a href="http://www.decor.com">BY DECOR</a>
                </div>
            </div>
        </div>
    </div>
</footer>