<div class="modal fade loginModal" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel">FORGOT PASSWORD</h4>
                </div>
                <div class="modal-body">
                    <h5>We will send your account informations to your email</h5>
                    <form>
                        <input type="text" id="email1" placeholder="Email" />
                        <input type="submit" value="LOGIN">
                    </form>
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="@Url.Action("CreateAccountInfo", "Account")">CREATE AN ACCOUNT</a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>